# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Dotenv environment variables file
.env
.env.test

# Config files
*/config/devConfig.json
*/config/prodConfig.json
*/config/testConfig.json

# Addons
.cert/

# Trash
.DS_Store
yarn.lock
package-lock.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Production
compiled
build
